.avr,
.footer.footer-fixed {
  bottom: 0
}

.button,
.home-link,
a,
a:active,
a:hover {
  text-decoration: none
}

.aside,
.header,
.nav>li,
.nav>li>a,
.site-nav,
.site-nav.site-nav-on,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
ul {
  display: block
}

.site-description,
.site-title {
  text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px
}


#title,
.footer,
.footer-inner,
.menu,
.navbar-collapse,
.post-button,
.sidebar-inner,
.site-author-name,
.site-description,
.site-state,
.site-title a {
  text-align: center
}





* {
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.centercolumn,
.footer-inner,
.musicicon,
.sidebar-inner {
  box-sizing: border-box
}

body {
  background-image: url(../images/avator.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  /* background: url(../images/avator.png) center center/contain no-repeat fixed; */
}

html {
  height: 100%
}

.content {
  perspective: 100px;
  width: 100%;
  height: 250px;
  position: relative
}

container {
  box-shadow: 0 0 16px rgba(0, 0, 0, .5);
  background: #222;
  display: flex;
  flex-shrink: 0
}

.navbar-fixed-bottom,
.navbar-fixed-top {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030
}

.nav>li,
.nav>li>a,
.navbar,
.site-header {
  position: relative
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px
}

.site-title {
  color: #fff;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
  letter-spacing: 10px;
  margin-top: 0;
  margin-bottom: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: #212121;
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 700
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
  margin-right: -15px;
  margin-left: -15px
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  max-height: 340px
}

@media (min-width:768px) {

  .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0
  }


  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important
  }

  .navbar-collapse {
    text-align: center;
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none
  }
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
}



.avr,
.footer.footer-fixed {
  position: absolute;
  right: 0;
  left: 0
}

.avr {
  display: flex;
  justify-content: center;
  top: 100px;
  margin: auto;
  color: #fff;
  font-size: 70px;
  font-weight: 500
}

.back-to-top-btn,
.music,
audio {
  bottom: 50px;
  position: fixed
}

.button,
.footer,
.sidebar-nav li {
  font-size: .875em
}

audio {
  right: 0
}

.centercolumn {
  float: right;
  border-radius: 16px;
  box-shadow: initial;
  padding: 40px;
  width: 85%
}

.card {
  background: rgba(255, 255, 255, .656);
  padding: 20px;
  margin-top: 20px;
  border-radius: 50px
}

#qita {
  text-align: right
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.music {
  z-index: 999;
  right: 50px;
  width: 66px;
  height: 66px;
  animation: 5s linear infinite musics
}

@keyframes musics {
  from {
    transform: rotate (0);
    opacity: .6
  }

  to {
    transform: rotate(360deg);
    opacity: .8
  }
}

.musicicon {
  display: flex;
  justify-content: space-between;
  padding: 0 400px;
  z-index: 1000;
  overflow: hidden
}

.footer {
  background-image: linear-gradient(white-space)
}

.footer-inner {
  margin: 0 auto;
  width: calc(100% - 20px)
}

.button {
  background: var(#fff);
  border: 2px solid;
  border-radius: 16px;
  color: var(#555);
  display: inline-block;
  line-height: 2;
  padding: 0 20px;
  transition: background-color .2s ease-in-out
}

.post-button {
  margin-top: 40px
}

.back-to-top-btn {
  left: 50px;
  width: 40px;
  height: 30px;
  background-color: #ccc;
  border-radius: 5px;
  opacity: .7;
  transition: opacity .2s ease-in-out;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 16px
}

.back-to-top-btn:hover {
  opacity: 1;
  background-color: #bbb
}

.back-to-top-btn:hover .back-to-top-icon {
  transform: translateY(-3px)
}

.back-to-top-percent {
  margin-left: 5px;
  font-size: 14px
}

.book-mark-link {
  border-bottom: none;
  display: inline-block;
  position: fixed;
  right: 30px;
  top: -10px;
  transition: .3s
}

.book-mark-link::before {
  color: #222;
  content: '\f02e';
  font-size: 32px;
  line-height: 1;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900
}

.book-mark-link-fixed,
.book-mark-link:hover {
  top: -2px
}

.reward-container button {
  background: 0 0;
  border: 1px solid #fc6423;
  border-radius: 0;
  color: #fc6423;
  cursor: pointer;
  line-height: 2;
  outline: 0;
  padding: 0 15px;
  vertical-align: text-top
}

.reward-container button:hover {
  background: #fc6423;
  border: 1px solid transparent;
  color: #fa9366
}

.main-inner {
  margin: 0 auto;
  width: calc(100% - 20px);
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse
}

@media (min-width:1200px) {

  .footer-inner,
  .header-inner,
  .main-inner {
    width: 1160px
  }
}

.site-author-image {
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  max-width: 120px;
  padding: 2px
}

.site-author-name {
  color: var(--text-color);
  font-weight: 600;
  margin: 0
}

.sidebar {
  background: #f5f5f5;
  position: sticky;
  width: 20%;
  bottom: 0;
  box-shadow: inset 0 2px 6px #000;
  top: 0;
  margin-top: 375px;
}

.header-inner,
.sidebar-inner {
  border-radius: 16px;
  box-shadow: initial
}

.sidebar-inner.affix {
  position: fixed;
  top: 20%
}

.sidebar-inner {
  background: #f5f5f5;
  color: var(--text-color);
  width: 250px;
  padding: 18px 10px
}

.sidebar-nav {
  margin: 0;
  padding-bottom: 20px;
  padding-left: 0
}

.sidebar-nav li {
  border-bottom: 1px solid transparent;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block
}

li {
  display: list-item;
  text-align: -webkit-match-parent
}

ul {
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 20px
}

.sidebar-nav li.sidebar-nav-overview {
  margin-left: 10px
}

.sidebar-nav .sidebar-nav-active {
  border-bottom-color: #fc6423;
  color: #fc6423
}

.top-menu-icon {
  float: left;
  line-height: 20px;
  height: 40px;
}

.site-header {
  background: #1d2b2d;
  width: 100%;
  margin-bottom: 3em;
  overflow: hidden;
  min-height: 135px
}

.navbar {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent
}

.navbar-nav>li>a {
  float: right;
  padding: 10px 15px;
  line-height: 20px;
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.navbar-nav>li>a:hover {
  /* color: #009688; */
  border-style: solid;
  border-color: #fff;
  border-radius: 1%;
  border-width: 3;
}

.site-description {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  padding: .2em 0;
  letter-spacing: 5px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0
}

.site-state-item,
container {
  padding: 0 10px
}

.site-state {
  display: flex;
  justify-content: center;
  line-height: 1.4;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap
}

.site-state-item:not(:first-child) {
  border-left: 1px solid #eee
}

.site-state-item a {
  border-bottom: none
}

.site-state-item-count {
  display: block;
  font-size: 1em;
  font-weight: 600;
  text-align: center
}

.site-state-item-name {
  color: #999;
  font-size: .8125em
}

.links-of-author a,
.links-of-author span.exturl {
  border-bottom-color: #555;
  display: inline-block;
  font-size: .8125em;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle
}

.links-of-author {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center
}

.links-of-author-item {
  margin: 5px 0 0;
  width: 50%
}

.links-of-recent-posts {
  font-size: .8125em;
  margin-top: 10px
}

.links-of-recent-posts-title {
  font-size: 1.03em;
  font-weight: 600;
  margin-top: 0
}

.links-of-recent-posts-list {
  list-style: none;
  margin: 0;
  padding: 0
}

@media (min-width:1600px) {

  .header-inner,
  .main-inner {
    width: 73%
  }
}

.header-inner {
  margin: 0 auto;
  background: #fff;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 240px
}

@media (min-width:1200px) {
  .header-inner {
    width: 240px
  }
}

@media (max-width:991px) {

  .book-mark-link,
  .sidebar {
    display: none
  }

  .main-inner {
    width: auto
  }

  .header-inner {
    border-radius: initial;
    position: relative;
    width: auto
  }
}


@media (max-width:767px) {
  .site-nav {
    clear: both;
    display: none
  }
}

@media (min-width:768px) and (max-width:991px) {

  .site-nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .site-nav {
    display: none
  }
}

.main-menu .menu-item-active a::after {
  background: #fff;
  border-radius: 50%;
  content: ' ';
  height: 6px;
  margin-top: -3px;
  position: absolute;
  right: 15px;
  top: 50%;
  width: 6px
}

.menu {
  margin-top: 20px;
  padding-left: 0;
}



@media screen and (max-width:1000px) {
  .centercolumn {
    width: 100%
  }

  .card {
    padding: 5px;
    margin: 5px
  }

  .post-button {
    text-align: center
  }
}

@media (max-width:600px) {

  h2,
  h4 {
    text-align: center
  }

  p {
    text-indent: 2em
  }

  .post-button a {
    font-size: 12px
  }
}